@{ViewData["Title"] = "Yeni Kurs Kategorisi"; }
@model CreateCourseCategoryDto
<form method="post">
    <label>Kategori</label>
    <input type="text" asp-for="CategoryName" class="form-control" /><br />
    <label>Icon</label>
    <input type="text" asp-for="Icon" class="form-control" /><br />
    <label>Açıklama</label>
    <textarea asp-for="ShortDescription" class="form-control" rows="3"></textarea><br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>