@model CreateCourseDto
@{ViewData["Title"] = "Yeni Kurs";}
<form method="post">
    <label>Kurs</label>
    <input type="text" asp-for="CourseName" class="form-control" /><br />
    <label>Kategori</label>
    <select class="form-control col-sm-3" asp-items="@ViewBag.Categories" asp-for="CourseCategoryId">
        <option>Kategori Seçiniz</option>
    </select><br />
    <label>Görsel</label>
    <input type="text" asp-for="ImageUrl" class="form-control" /><br />
    <label>Fiyatı</label>
    <input type="text" asp-for="Price" class="form-control" /><br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>