@model UpdateBlogCategoryDto
@{ViewData["Title"] = "Kategori Düzenle";}
<form method="post">
    <input type="hidden" asp-for="BlogCategoryId"/>
    <label>Kategori</label>
    <input type="text" asp-for="CategoryName" class="form-control" /><br />
    <span asp-validation-for="CategoryName" class="text-danger"></span><br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>