@{ViewData["Title"] = "Mesaj İçeriği"; }
@model GetMessageByIdDto

    <a asp-area="Admin" asp-controller="Message" asp-action="Index" style="font-size:20px;"><i class="fas fa-arrow-circle-left"></i> Geri Dön</a>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>Gönderici:</th>
            <td>@Model.SenderName</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Konu:</th>
            <td>@Model.Subject</td>
        </tr>
        <tr>
            <th>Mesaj:</th>
            <td>@Model.Content</td>
        </tr>
    </table>