@{ViewData["Title"] = "Sosyal Medya Düzenle"; }
@model UpdateSocialMediaDto
<form method="post">
    <input type="hidden" asp-for="SocialMediaId" />
    <label>Sosyal Medya Adı</label>
    <input type="text" asp-for="Title" class="form-control" /><br />
    <label>Sosyal Medya Icon</label>
    <input type="text" asp-for="Icon" class="form-control" /><br />
    <label>Sosyal Medya Link</label>
    <input type="text" asp-for="Url" class="form-control" /><br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>